body{
	font-family:  "comic sans ms";	
}
*{
	margin: 0;
	padding: 0;
}
.box{
	position: relative;
	left: 0;
	transition: 1s;
}
header{
	width: 100%;
	height: auto;
	position: fixed;
	z-index: 9999;
	top: 0;
	background-color: white;
	box-shadow: 0 0 10px silver;
}
.contect-top{
	width: 100%;
	height: 10%;
}
ul,li,a{
	list-style: none;
	text-decoration: none;
	color: black;
}
.head-left{
	width: 50%;
	height: 100%;
	float: left;
	display: flex;
	align-items: center;
}
.head-left img{
	float: left;
	width: 50px;
	height: 50px;
}
.head-left h2{
	display: inline;
  font-size: 15px;
	color: orangered;
}
.head-right{
	width: 50%;
	height: 100%;
	float: right;
}
.head-right li{
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.head-right img{
	display: block;
	float: right;
	width: 30px;
	height: 30px;
	padding: 10px;
}
.head-right ul:first-of-type{
	display: none;
}
.head-right a{
	display: block;
	margin: 0 auto;
	width: 20vw;
	border-radius: 10%;
}
.moveul1{
	display: block;
	position: fixed;
	width: 0;
	text-align: center;
	overflow: hidden;
	top: 0;
	right: 0;
	transition: width 1s; 
}
.contect-action1{
	margin-top: 60px;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	background: url(../img/c楼图层.png) no-repeat;
	background-attachment: fixed;
	background-size: 100% 310px;
}
.first-floor{
	position: relative;
	width: 100%;
	height: 250px;
	background: url(../img/fir1.png) no-repeat;
	background-color: rgba(239, 54, 30, 0.6);
	background-size: 100% 250px;
}
.second-floor{
	color: white;
	position: relative;
	width: 100%;
	height: 250px;
}
.ff-show{
	width: 100%;
	height: auto;
}
.ff-show .ff-leftpg{
	width: 50%;
	height: auto;
	padding-left: 5%;
	float: left;
}
.ff-leftpg img{
	padding-top: 50px;
	width: 25%;
	height: 25%;
}
.ff-leftpg img:first-child{
	width: 50%;
	height: 50%;
}
.ff-leftpg img:last-child{
	width: 15%;
	height: 15%;
}
.ff-show .ff-righttxt{
	padding-top: 20px;
	color: white;
	width: 40%;
	height: auto;
	float: right;
	padding-left: 5%;
}
.ff-righttxt h1{
	font-family: "comic sans ms";
	font-size: 18px;
}
.ff-righttxt h2{
	font-size: 14px;
	margin-bottom: 5px;
	color: orange;
}
.ff-righttxt h3:first-of-type{
	font-size: 14px;
	margin-top: 5px;
	color: #FFC0CB;
}
.ff-righttxt h3{
	font-size: 14px;
	margin-top: 5px;
	color: sandybrown;
}
.ff-righttxt h3:last-of-type{
	font-size: 14px;
	margin-top: 5px;
	color:azure;
}
.sd-show{
	margin-top: 100px;
	width: 100%;
	height: auto;
	padding-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sd-text{
	width: 100%;
	height: auto;
	text-align: center;
}
.sd-text h2{
	float: none;
	font-size: 12px;
	margin-bottom: 0;
}
.sd-text h1{
	font-size: 0;
	margin: 20px auto;
	color: red;
}
.sd-text  h3{
	font-size: 11px;
}
/**/
.ourservices{
  padding: 80px 0 30px 0;
}
.services-text{
	width: 100%;
	height: auto;
	text-align: center;
}
.services-text h1{
	width: 80vw;
   font-size: 20px;
   letter-spacing: 1px;
	padding-bottom: 10px;
	margin: 0 auto;
	border-bottom: 1.5px solid black;
}
.services-text h2{
	margin: 20px;
	font-size: 12px;
	color: #999999;
}
.services-showbox{
	width: 100%;
	height: auto;
}
.services-show{
	width: 100%;
	height: 100%;
}
.services-part:first-of-type{
	width: 100%;
	float: left;
	border-top: 1px solid #CCCCCC;
}
.services-part{
	margin-top: 5vw;
	width: 100%;
	float: left;
		border-top: 1px solid #CCCCCC;
}
.services-part ul{
	text-align: center;
}
.services-part li{
	line-height: 30px;
	font-size: 9px;
	color: #A9A9A9;
}
.services-part h2{
	color: black;
	font-family: "微软雅黑";
}
.services-imgbox{
	z-index: 999;
	margin: -25px auto 10px auto;
	box-shadow: 0 0 5px #666666;
	width: 80px;
	height: 80px;
	background-color:white;
	border-radius: 50%;
	border: 1px solid darkgrey;
	transition: all 0.2s;
}
.services-imgbox:hover{
	border: 3px solid red;
	transition: all 0.2s;
}
.services-imgbox img{
	width: 60px;
	height:60px;
	margin:10px;
}
.all-change-pg{
	display: none;
	color: white;
	font-size: 20px;
	width: 100%;
	height: 100px;
	background: url(../img/滚动3.jpg) no-repeat;
	background-size: 100% auto;
	text-align: center;
	line-height: 300px;
}
.all-change-pg1{
	display: none;
}
.all-change-pg2{
	display: none;
}
.all-change-pg3{
	display: none;
}
/**/
.ourjob{
	clear: both;
}
.ourjob-text{
		padding: 50px 0 0 0 ;
	width: 100%;
	height: auto;
	text-align: center;
}
.ourjob-text h1{
	font-size: 20px;
	width: 100px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-bottom: 2px solid black;
}
.ourjob-text h2{
	margin: 20px;
	font-size: 12px;
	color: #999999;
}
/*动画开始*/
.works-show{
	margin: 10px auto 0 auto;
}
.works-box{
  margin: 30px 10% auto 10%;
	top: 0;
	position: relative;
	overflow: hidden;
	float: left;
	text-align: center;
	width: 80%;
	height: 200px;
	box-shadow: 0 0 10px orange;
	z-index: 0;
	background-color: white;
	transition: 1s;
}
.works-box img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
/*动画结束*/
.getmore{
	display: block;
	width: 80vw;
	height: 25px;
	line-height: 25px;
	margin: 30px auto 0 auto;
	text-align: center;
	font-family: "comic sans ms";
	font-style: italic;
	border: 1px solid #666;
	font-size: 12px;
}
/*mytalk*/
.mytalk{
	margin: 50px 0 0 0 ;
}
.mytalk-text{
	width: 100%;
	height: auto;	
	text-align: center;
}
.mytalk-text h1{
	width: 80vw;
	font-size: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-bottom: 1.5px solid black;
}
.mytalk-text h2{
	color: brown;
	font-size: 18px;
	margin: 10px 0;
}
.mytalk-text p{
	margin: 0 10% 10px 10%;
	text-indent: 2em;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: left;
	color: #666666;
	font-family: "微软雅黑";
	
}
/* news*/
.ournews{
	margin: 50px 0 0 0 ;
}
.ournews-text{
	width: 100%;
	height: auto;
	text-align: center;
}
.ournews-text h1{
	width: 100px;
	font-size: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-bottom: 2px solid black;
}
.ournews-text h2{
	margin: 20px ;
	font-size: 12px;
	color: #999999;
}
.ournews-detail{
	width: 100%;
	height: auto;
	margin-top: 20px;
	color: #666;
}
.detail-box{
	width: 100%;
	height: auto;
	text-align: center;
	margin-top: 20px;
	float: left;
}
.detail-box a h3{
	height: 30px;
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
	font-family: "agency fb";
	font-style: italic;
}
.detail-box a:hover{
	color: brown;
}
.detail-box .a2:hover{
	color: white;
	background-color: brown;
	transition: 0.5s;
}
.detail-box p{
	padding: 0 2vw;
	text-align: left;
	margin-top: 15px;
	font-size: 13px;
	line-height: 20px;
}
.detail-box .a2{
	margin: 0 auto;
	display: block;
    width: 70px;
    height: 25px;
    margin-top: 10px;
    line-height: 25px;
    border-radius: 5%;
    text-align: center;
    border: 1px solid #666;
    transition: 0.5s;
}
/*联系我们*/
.contact{
	margin: 50px 0 0 0 ;
}
.coontact-text{
	width: 100%;
	height: auto;
	text-align: center;
}
.coontact-text h1{
	width: 100px;
	font-size: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	border-bottom: 2px solid black;
}
.coontact-text h2{
	margin: 20px;
	font-size: 12px;
	color: #999999;
}
.map{
	position: relative;
	width: 95vw;
	height: 120vw;
	margin: 50px auto 0 auto;
	z-index: 200;
}
.map:hover .mapcovertop{
	height: 0;
	transition: 1s;
}
.map:hover .mapcovertop span{
	opacity: 0;
	transition: 0.5s;
}
.map:hover .mapcoverbt{
	height: 0;
	transition: 1s;
}
#allmap{
	position: relative;
	height: 100%;/*设置地图宽高*/
    width:100%;
    box-shadow: 0 0 10px #666666;
    border-radius:5%;
    overflow: hidden;
}
.mapcoverbt{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	border-bottom-right-radius: 5%;
	border-bottom-left-radius: 5%;
	background-color: rgba(80, 80, 80, 0.41);
	z-index: 9999;
	transition: 1s;
}
.mapcovertop{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
	background-color: rgba(80, 80, 80, 0.41);
	z-index: 9999;
	transition: 1s;
}
/* 底部*/
footer{
	width: 100%;
	height: 150px;
	margin: 0 auto 0 auto;
}
.footer-left{
	width: 80%;
	height: 150px;
	margin: 0 auto;
}
.footer-right{
	display: none;
	width: 60%;
	height: 100px;
	float: left;
}
.footer-left img{
	float: left;
	margin-top: 10%;
	margin-bottom: 10%;
}
.footer-left h2{
	font-size: 20px;
	margin-top: 60px;
}
.footer-left h3{
	font-size: 17px;
	color: #666666;
}
.footer-left p{
	font-family: "微软雅黑";
	font-size: 12px;
	color: #999999;
}
.inputleft{
	width: 40%;
	padding-top: 40px;
	float: left;
}
.inputright{
	display: noe;
	width: 50%;
	float: right;
	padding-top: 40px;
}
.footer-right input{
	margin-top: 15px;
	width: 300px;
	height: 30px;
}
.inputright input{
	height: 120px;
}
textarea{
	width: 300px;
	height: 120px;
	margin-top: 15px;
	width: 300px;
}
.inputright span{
	font-size: 12px;
	color: #999999;
	line-height: 18px;
}
/*测试弹幕*/
.mapcovertop span{
	display: none;
}
.p1{
	display: none;
	position: relative;
	color: rgba(239, 54, 30, 0.6);
	font-size: 30px;
	font-weight: bold;
	font-family: "微软雅黑";
	left: 100px;
}
.p2{
	display: none;
	position: relative;
	color: rgba(255, 152, 0, 0.6);
	left: 200px;
	font-size: 30px;
	font-weight: bold;
	font-family: "agency fb";
	left: 650px;
}
.p3{
	display: none;
	position: relative;
	color: rgba(255, 235, 59, 0.6);
	font-size: 35px;
	font-weight: bold;
	font-family: "comic sans ms";
	left: 240px;
}
.p4{
	display: noe;
	position: relative;
	color: rgba(128, 224, 15, 0.6);
	font-size: 30px;
	font-weight: bold;
	font-family: "黑体";
	left: 500px;
}
.p5{
	display: none;
	position: relative;
	color: rgba(33, 150, 243, 0.6);
	font-size: 30px;
	font-weight: bold;
	font-family: "arial black";
	left: 10px;
}
.p6{
	display: none;
	position: relative;
	color: rgba(103, 58, 183, 0.6);
	font-size: 30px;
	font-weight: bold;
	font-family: "楷体";
	left: 830px;
}
.p7{
	display: none;
	position: relative;
	color: rgba(156, 39, 176, 0.6);
	font-size: 30px;
	font-weight: bold;
	font-family: "微软雅黑";
	left: 140px;
}
/*
 * <span class="p2">新洲生态园</span><br />
		 		<span class="p1">新吴区</span><br />
		 		<span class="p4">靠近无锡新区站</span><br />
		 		<span class="p3">新锡路8号</span><br />
		 		<span class="p6">多站公交底站</span><br />
		 		<span class="p5">多站公交底站</span><br />
		 		<span class="p7">多站公交底站</span><br />
  */